body{ margin: 0; padding: 0; background-color: #2f1b34; font-family: Verdana;}
.btn{
    margin: 7px 3px;
    font-size: 20px;
}

.rl_col{
    border: 2px green solid;
    min-width: 190px;
    margin:  5px;
    padding:  5px;
    text-align:left
}
.flt{
    padding: 3px;
}
#allroles{
    padding: 10px;        
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding-bottom: 1px;
}
#toend{
    background-color: crimson;
    align-self: center
}       

#here{
    background-color: whitesmoke;
    padding-top: 10px;
}
#allroles label{
    font-size:20px
}

input:checked + .label-for-check {
  background-color: #f9f9cc;
}

#curcat{
    position: absolute;
    font-weight: bold;
    margin: 12px;        
    width:  400px;
    padding-bottom: 5px;
    font-size:10px
}
#current{
    padding: 20px 50px 18px;
    margin: 10px 5px;
    font-size: 30px;
} 
#panel{
    display: flex; justify-content: space-between;
    padding: 2px 0;
}
.bbtn button{
    font-size:25px; padding: 5px;
    color:  crimson;
}
.bbtn{        
    align-self: center;
    margin:  5px;
}